body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 500px;
    outline: solid 3px;
}

.row {
    display: flex;
    flex: 1;
}

.pixel {
    flex: 1;
}

.pixelFill {
    background-color: black;
}

button {
    padding: 5px;
    margin: 10px;
}